<div class="row">
	<h3 class="col s6">Manage Users</h3>
	<p class="col s6"><a href="/new_user"><button class="btn right blue-grey">Add new user</button></a></p>
</div>
<div class="row">
	<table class="striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Created On</th>
				<th>Access Rights</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{user['user_id']}}</td>
				<td><a href="/messages/{{user['user_id']}}">{{user['first_name']}} {{user['last_name']}}</a></td>
				<td>{{user['email']}}</td>
				<td>{{user['created_on'].strftime('%B %d, %Y at %I:%M %p')}}</td>
				<td>{% if user['access'] == 1 %}
					admin
					{% else %}
					user
					{% endif %}</td>
				<td><a href="/v_admin_edit/{{user['user_id']}}">edit</a> | <a href="/v_remove/{{user['user_id']}}">remove</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>