<div class="row">
	<div  class="col s6">
		<form id="user_info" action="/admin_edit_user_info" method="post">
			<fieldset>
				<legend>Edit Information</legend>
				<label>E-Mail</label>
				<input type="text" name="email" value="{{user['email']}}" />
				<label>First Name</label>
				<input type="text" name="fname" value="{{user['first_name']}}"/>
				<label>Last Name</label>
				<input type="text" name="lname" value="{{user['last_name']}}"/>
				<input type="hidden" name="id" value="{{user['user_id']}}" />
				<label>User Access</label>
				<div class="btm-m20">
					<select name="access">
						{% if user['access'] == 0 %}
						<option value="0" selected>User</option>
						<option value="1">Admin</option>
						{% else %}
						<option value="0">User</option>
						<option value="1" selected>Admin</option>
						{% endif %}		
					</select>
				</div>
				<button class="btn right blue-grey">Save</button>
			</fieldset>
		</form>
	</div>
	<div class="col s6">
		<form id="user_pass" action="/admin_edit_user_password" method="post">
			<fieldset>
				{% with errors = get_flashed_messages() %}
				{% if errors[0] %}
				<p class="green-text">{{errors[0]['updated']}}</p>
				{% endif %}
				<legend>Change Password</legend>
				{% if errors[0] %}
				<p class="red-text">{{errors[0]['password']}}</p>
				{% endif %}
				<label>Password</label>
				<input type="password" name="password" />
				{% if errors[0] %}
				<p class="red-text">{{errors[0]['confirmpass']}}</p>
				{% endif %}
				<label>Confirm Password</label>
				<input type="password" name="confirmpass"/>				
				<input type="hidden" name='id' value="{{user['user_id']}}" />
				<button class="btn right blue-grey">Update Password</button>
				{% endwith %}
			</fieldset>
		</form>
	</div>
</div>